<div class="container">
  <h1>Tweets relative to "<%= @keyword.word.capitalize %>"</h1>
  <button id="refresh-tweet" data-id="<%= @keyword.id %>" type="button">Refresh Tweets!</button>
  <div class="tweets-list">
    <%= render "tweetlist", keyword: @keyword  %>
  </div>
</div>
