<div class="container">
  <h1>Tweets relative to "<%= @keyword.word.capitalize %>"</h1>
  <div class="tweet-list">
    <% @keyword.tweets.each do |tweet| %>
      <ul>
        <li><%= tweet.content %></li>
      </ul>
    <% end %>
  </div>

  <div id="refresh-tweet">
    <%= link_to "Refresh tweets", keyword_tweets_path(@keyword.id), method: :post  %>
  </div>
</div>
